# macOS
.DS_Store

# Java/Gradle
**/.gradle/
**/build/
**/out/
**/bin/
**/*.class
**/*.log
!**/gradle/wrapper/gradle-wrapper.jar
**/HELP.md

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/